
#emergencyMessage {
	color:#333300;
	background-color: #F4F6E0;
	padding: 10px 10px 5px 250px;
	margin: 7px 15px;
	border: 2px solid #938E27;
}

#emergencyMessage h2 {
    color:#938e27;
    border-bottom:#938e27 solid 1px;
}

#emergencyLastUpdatedTime{
    color:#938e27;
    float:right;
}

